body {
	background-color: #eee;
	margin: 20px;
}

a.list-group-item {
	color: #428bca;
}

#categories {
	margin: 20px;
	width: 800px;
}

#head1 {
	font-size:2em;
	color:#000;
	margin-left:25px;
}
#logo {
	float:left;
}
#navbar {
	width:100%;
	height:150px;
}

#products {
	margin: 20px;
}


.product {
	width: 300px;
	display: inline-block;
}

#productinfo {
	margin: 20px;
	width: 800px;
	background-color: #fff;
}

#productinfo th {
	width: 200px;
}
